pipeline/v4-parent.json
{
	"name": "v4-parent",
	"properties": {
		"activities": [
			{
				"name": "Get ApplicationPipelines",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_metadata_asql",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "ApplicationName",
									"type": "String",
									"value": {
										"value": "@pipeline().parameters.applicationName",
										"type": "Expression"
									},
									"direction": "Input"
								}
							],
							"type": "Query",
							"text": "dffw.getApplicationPipelines @ApplicationName"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "ForEach ApplicationPipeline",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get ApplicationPipelines",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get ApplicationPipelines').output.resultsets[0].rows",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Rest API Execute Pipeline",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/',pipeline().globalParameters.subscrId,'/resourceGroups/',pipeline().globalParameters.rg,'/providers/Microsoft.DataFactory/factories/',pipeline().DataFactory,'/pipelines/',item().pipelineName,'/createRun?api-version=2018-06-01')",
									"type": "Expression"
								},
								"method": "POST",
								"body": {
									"message": "Executing pipeline"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"applicationName": {
				"type": "string",
				"defaultValue": "Application One"
			}
		},
		"variables": {
			"pipelineName": {
				"type": "String",
				"defaultValue": "pipeline1"
			}
		},
		"folder": {
			"name": "v4"
		},
		"annotations": [
			"(c) Copyright 2021 Enterprise Data & Analytics"
		]
	}
}
