pipeline/v5-parent.json
{
	"name": "v5-parent",
	"properties": {
		"activities": [
			{
				"name": "Get ApplicationPipelines",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_metadata_asql",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "ApplicationName",
									"type": "String",
									"value": {
										"value": "@pipeline().parameters.applicationName",
										"type": "Expression"
									},
									"direction": "Input"
								}
							],
							"type": "Query",
							"text": "dffw.getApplicationPipelines @ApplicationName"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "ForEach ApplicationPipeline",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get ApplicationPipelines",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get ApplicationPipelines').output.resultsets[0].rows",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Rest API Execute Pipeline",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "If Parameter Count grt 0",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/',pipeline().globalParameters.subscrId,'/resourceGroups/',pipeline().globalParameters.rg,'/providers/Microsoft.DataFactory/factories/',pipeline().DataFactory,'/pipelines/',item().pipelineName,'/createRun?api-version=2018-06-01')",
									"type": "Expression"
								},
								"method": "POST",
								"body": {
									"value": "{\"waitSeconds\":\"2\"}",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com"
								}
							}
						},
						{
							"name": "Get ApplicationPipelineParameterCount",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_metadata_asql",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "ApplicationName",
												"type": "String",
												"value": {
													"value": "@pipeline().parameters.applicationName",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "PipelineName",
												"type": "String",
												"value": {
													"value": "@item().PipelineName",
													"type": "Expression"
												},
												"direction": "Input"
											}
										],
										"type": "Query",
										"text": "dffw.getApplicationPipelineParameterCount @ApplicationName, @PipelineName"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "If Parameter Count grt 0",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get ApplicationPipelineParameterCount",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Get ApplicationPipelineParameterCount').output.resultsets[0].rows[0].ApplicationPipelineParameterCount, 0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Set parametersJSON",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "parametersJSON",
											"value": {
												"value": "@concat('\"message\":\"Executing \"',variables('pipelineName'))",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Get ApplicationPipelineParameters",
										"type": "Script",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "ls_metadata_asql",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"parameters": [
														{
															"name": "ApplicationName",
															"type": "String",
															"value": {
																"value": "@pipeline().parameters.applicationName",
																"type": "Expression"
															},
															"direction": "Input"
														},
														{
															"name": "PipelineName",
															"type": "String",
															"value": {
																"value": "@item().PipelineName",
																"type": "Expression"
															},
															"direction": "Input"
														}
													],
													"type": "Query",
													"text": "dffw.getApplicationPipelineParameters @ApplicationName, @PipelineName"
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Set parametersJSON variable",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Get ApplicationPipelineParameters",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "parametersJSON",
											"value": {
												"value": "@string(activity('Get ApplicationPipelineParameters').output)",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"applicationName": {
				"type": "string",
				"defaultValue": "Application Five"
			}
		},
		"variables": {
			"pipelineName": {
				"type": "String",
				"defaultValue": "pipeline1"
			},
			"parametersJSON": {
				"type": "String"
			}
		},
		"folder": {
			"name": "v5"
		},
		"annotations": []
	}
}